# API_URL
BASE_URL=http://localhost:80
AUTH_URL=${BASE_URL}/auth
DB_URL=${BASE_URL}/db
DIAGNOSTICS_URL=${BASE_URL}/diagnostics
GIT_REPO_URL=github.com/gabrielhsdev/dental_ai

# Postgres
DB_HOST=postgres
DB_HOST_DEBUG=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=postgres
DB_PORT=5432

# Postgress Admin
PGADMIN_HOST=pgadmin
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin

# Authentication Service
AUTH_SECRET_KEY=super_secret_key
AUTH_SERVICE_PORT=8081
AUTH_SERVICE_HOST=auth-service
AUTH_SERVICE_REPO_URL=${GIT_REPO_URL}/tree/main/backend/${AUTH_SERVICE_HOST}

# DB Service
DB_SERVICE_PORT=8082
DB_SERVICE_HOST=db-service
DB_SERVICE_REPO_URL=${GIT_REPO_URL}/tree/main/backend/${DB_SERVICE_HOST}

# Diagnostics Service
DIAGNOSTICS_SERVICE_PORT=8083
DIAGNOSTICS_SERVICE_HOST=diagnostics-service
DIAGNOSTICS_SERVICE_REPO_URL=${GIT_REPO_URL}/tree/main/backend/${DIAGNOSTICS_SERVICE_HOST}

# Nginx
NGINX_PORT=80

# JWT
JWT_SECRET_KEY=MySuperSecretKeyPUCCAMP2025
