# I got this gitignore file using lots of online examples, so 
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Go specific
*.exe
go.mod
go.sum

# IDE directories
.idea/
.vscode/

# Logs
*.log

# Temporary files
*.tmp